@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="styles/BackupDashboard.css">
    <link rel="stylesheet" href="styles/charts_bar.css">
    
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/Dashboard.js"></script>
    <script type="text/javascript" src="js/chart_bar.js"></script>
   
</head>
<body>
    <script type="text/javascript">

        $(document).ready(function () {

            // to avoid additional request on server, initial data added during page rendering
            var currentState = @( new HtmlString(ViewBag.ReportData.ToString()));
            var last7days = @( new HtmlString(ViewBag.DailyReportData.ToString()));
            $('.dashboard .currentState').backupDashboard(currentState.Statistics);
            $('.dashboard .dailyReport .chart').chart(last7days.Statistics, { gridSize: 100 });
        });

    </script>
    
    <div class="main">
        <div class="left">Availability &#128269;</div>
        <div class="dashboard">
            <h3>Uptime</h3>
            <div class="currentState">

            </div>
            <div class="dailyReport">
                <div class="chart"></div>
            </div>
        </div>
        <div class="right">@(ViewBag.ReportPeriodInfo)  &#x1f6c8;</div>
    </div>

    <h1>Description</h1>
    <p>
        You can setup as many thresholds values as you want via css configuration. Just change value nearby class name <span style="font-weight: bold; font-style: italic">.if_less_then_xxx_xx</span>, where xxx_xx is desired threshold value in percent.
        <pre>
        .less_then_100_00 {
            color: green;
        }
        .less_then_99_50 {
            color: orange;
        }
        .less_then_99_00 {
            color: red;
        }
        </pre>
    </p>
    <p>
        Report period can be set via configuration
        
        <pre>
            &lt;appSettings&gt;
            &lt;!-- Sets default dashboard reporting period in hours  e.g 7days = 168h--&gt;
            &lt;add key="dashboard:DefaultReportPeriod" value="12" /&gt;
        </pre>
    </p>
</body>
</html>
